
@{
    ViewBag.Title = "Index";
}

<a href="/Calc/Add/10/20">/Calc/Add/10/20</a>
<br />
<a href="/Calc/Mul/5/5">/Calc/Mul/5/5</a>
<br />
<a href="/Calc/Sub/10/3">/Calc/Sub/10/3</a>
<br />
<a href="/Calc/Div/10/2">/Calc/Div/10/2</a>
<br />
