
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @*gadava /Customer/Index-ze default valuebis gamo*@
        <a href="/Customer">Customer</a><br />
        @*esec*@
        <a href="/Customer/Index">Customer/Index</a><br />
        @*/Customer/List*@
        <a href="/Customer/List">Customer/List</a><br />
        @*shecdoma, imitom rom RoutConfig-shi ar aris gacerili 3 komponentiani misamarti*@
        <a href="/Customer/List/All">Customer/List/All</a><br />
    </div>
</body>
</html>
