
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Variable</h2>
<a href="/">Default</a><br />
<a href="/Home/Index/123">/Home/Index/123</a><br />
<a href="/Home/Index/456">/Home/CustomVariable/123</a>

